// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.call-box {
  text-decoration: none;

  &__phone {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1;
  }
  &__text {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    color: #143716;
  }
}

.social {
  display: flex;

  &__item {
    width: 35px;
    height: 35px;
    margin: 0 7px;
  }

  &__link {
    display: block;
  }
}

.page-header {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;
  padding: 15px 0;

  &__inner {
    @include container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
