// В этом файле должны быть стили для БЭМ-блока header, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
  }

  &__logo {
    flex: 0 0 95px;
    position: relative;
    z-index: 3;
    margin-right: auto;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .logo-white {
      display: none;
    }
  }

  &__menu {
    margin: 0 25px;
    flex-grow: 1;
  }

  &__list {
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 3;

    li {
      margin: 0 0 0 20px;
    }
  }

  &__link {
    color: #143716;
    line-height: 0.95;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
  }

  &__burger {
    display: none;
    position: relative;
    z-index: 3;
    cursor: pointer;
    margin-left: 25px;
  }

  .social,
  .call-box {
    margin-right: 25px;
  }

  .social,
  .call-box,
  .btn {
    position: relative;
    z-index: 3;
  }

  &--main {

    &:before {
      background-color: transparent;
    }

    .header__logo {
      .logo-dark {
        display: none;
      }
      .logo-white {
        display: block;
      }
    }

    #{$block-name}__link {
      color: #fff;
    }

    .social {
      display: none;
    }
    .call-box {
      &__phone {
        color: #fff;
      }
      &__text {
        color: #aa8b62;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .btn {
      color: #fff;
    }
  }

  &.sticky {
    position: fixed;
    opacity: 1;
    z-index: 10;
    animation: slideInDown 0.5s 1 ease-in-out;
    
    &:before {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    #{$block-name}__body {
      height: 60px;
    }

    .header__logo {
      flex: 0 0 70px;
      
      .logo-dark {
        display: none;
      }
      .logo-white {
        display: block;
      }
    }

    .header__list {
      justify-content: flex-end;
    }

    .header__link {
      color: #fff;
    }

    .social,
    .call-box,
    .btn {
      display: none;
    }
  }

  &.active {
    &:before,
    .social,
    .header__logo,
    .call-box,
    .btn {
      z-index: -1;
    }
  }
}

@media (max-width:($screen-md - 1)) {
  .header {
    .social,
    .call-box,
    .btn {
      display: none;
    }
  }
}

@media (max-width:($screen-xl - 1)) {

  body.lock {
    overflow: hidden;
  }
  .header__menu {
    margin: 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;

    span {
      position: absolute;
      background-color: #d9a35a;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }

    &:before,
    &:after {
      content: "";
      background-color: #d9a35a;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.active {
      &:before {
        transform: rotate(45deg);
        top: 9px;
      } 
      &:after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        transform: scale(0);
      }
    }
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #133131;
    transition: all 0.3s ease 0s;
    padding: 100px 15px 100px 15px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      opacity: 1;
      top: 0;
    }
  }

  .header__list {
    display: block;
    text-align: center;

    li {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  .header__link {
    color: #ffffff;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.17;
  }
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}